[tools]
# Inherits from ancestor mise.toml files

[env]
IMAGE_REPO = "857059614049.dkr.ecr.us-east-2.amazonaws.com/services/go-backend"
IMAGE_TAG = "foobarbaz"
SERVICE_RELEASE_TAG = "services/go-backend"

[tasks]

run-postgres = "docker compose up db"

run-service = "DATABASE_URL=postgres://postgres:password@localhost:5432/postgres go run ./cmd"

[tasks.build-image]
run = "docker build ."

[tasks.mirrord-run]
description = "Run go-backend locally with mirrord (steals traffic from cluster)"
usage = 'arg "[namespace]" help="Target namespace (default: go-backend-kustomize)" default="go-backend-kustomize" {}'
run = '''
mirrord exec \
  --config-file .mirrord/mirrord.json \
  --target-namespace "${usage_namespace}" \
  -- go run ./cmd
'''

[tasks.mirrord-run-mirror]
description = "Run go-backend locally with mirrord in mirror mode (copies traffic, non-invasive)"
usage = 'arg "[namespace]" help="Target namespace (default: go-backend-kustomize)" default="go-backend-kustomize" {}'
run = '''
mirrord exec \
  --config-file .mirrord/mirrord.json \
  --target-namespace "${usage_namespace}" \
  --override feature.network.incoming=mirror \
  -- go run ./cmd
'''
