apiVersion: batch/v1
kind: Job
metadata:
  name: go-backend-migrate
  namespace: {{.Release.Namespace}}
  annotations:
    kluctl.io/hook: pre-deploy
    # kluctl.io/hook-weight: 1 # use ascending hook weight if resources need to exist in order
spec:
  ttlSecondsAfterFinished: 3600 # GC old Jobs
  template:
    spec:
      restartPolicy: Never
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: apply
          image: 857059614049.dkr.ecr.us-east-2.amazonaws.com/services/go-backend/migrations:52e9e33a82f73e4cce1892886237c0dac9f3de3a
          args:
            [
              "migrate",
              "apply",
              "--dir",
              "file://migrations",
              "--url",
              "$(DATABASE_URL)",
            ]
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: go-backend-pg-app
                  key: uri
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              memory: "128Mi"
          securityContext:
            allowPrivilegeEscalation: false
            privileged: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
