################# SETUP ####################
## I have the following in my zshrc file:
#
# eval "$(/Users/palas/.local/bin/mise activate zsh)"
# export MISE_EXPERIMENTAL=1
# alias m="mise"
# alias ml="mise task ls"
# alias mla="mise run //:mise-fzf"
# 
## the mla alias allows me to search within all available tasks
#############################################

# https://mise.jdx.dev/tasks/monorepo.html
# MISE_EXPERIMENTAL=1 set in zshrc
experimental_monorepo_root = true

[tools]
terramate = "0.15"
yq = "4"
jq = "1"
aws-cli = "2"
"aqua:aws/session-manager-plugin" = "1"
kind = "0.30"
tilt = "0.35"
fzf = "latest"
"github:kubernetes-sigs/cloud-provider-kind" = "0.9"
helm = "3"
kubectl = "1.34"
kustomize = "5.8"
argocd = "3.2"
timoni = "0.25"
mirrord = "3"

[tasks.mise-fzf]
description = "[Mise] Pick one task; print it and copy the run command"
run = '''
#!/usr/bin/env bash
set -euo pipefail

LIST_CMD=(mise task ls --all)

SEL="$("${LIST_CMD[@]}" \
  | fzf --no-multi --height=90% --border --prompt='task> ' \
        --select-1 --exit-0)"

[ -n "${SEL:-}" ] || exit 0

# First token only = task name
TASK="$(awk '{print $1; exit}' <<< "$SEL")"

# Build the runnable command
CMD=$(printf 'mise run %q' "$TASK")

echo "$CMD"

copy_to_clipboard() {
  if command -v pbcopy >/dev/null 2>&1; then
    pbcopy
  # TODO: add support for linux clipboard tools
  else
    return 1
  fi
}

if copy_to_clipboard <<< "$CMD"; then
  echo "(^ copied to clipboard)"
fi
'''

[tasks.worktree-add]
description = ""
usage = '''
arg "<branch>" help="git branch name" {}
'''
run = '''
#!/usr/bin/env bash
set -euo pipefail

DIR="../kube-starter-kit-worktrees/${usage_branch}"
git worktree add ${DIR} -b ${usage_branch}
cd ${DIR} && mise trust
echo "cd ${DIR}" | pbcopy
'''

[tasks.worktree-remove]
description = ""
usage = '''
arg "<branch>" help="git branch name" {}
'''
run = '''
#!/usr/bin/env bash
set -euo pipefail

DIR="../kube-starter-kit-worktrees/${usage_branch}"
git worktree remove ${DIR}
'''
