# Followed https://github.com/grafana/k8s-monitoring-helm/tree/4bde1e6f72603ed3d03d58867db67822170540dd/charts/k8s-monitoring/docs/examples/auth/external-secrets
# to move credentials into ExternalSecret
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: grafana-cloud-credentials
  namespace: monitoring
spec:
  refreshInterval: 1h0m0s
  secretStoreRef:
    name: aws-secrets-manager
    kind: ClusterSecretStore
  target:
    name: grafana-cloud-credentials
  dataFrom:
    - extract:
        # AWS secret contains usernames (instance IDs) and password (token) for grafana cloud resources
        key: ksk-use2-staging-eks-grafana-cloud-credentials
