cluster:
  name: ksk-use2-staging-eks
destinations:
  - name: grafana-cloud-metrics
    type: prometheus
    url: https://prometheus-prod-13-prod-us-east-0.grafana.net./api/prom/push
    auth:
      type: basic
      usernameKey: prometheusUsername # Note: If retrieving password from a secret, username must be retrieved as well
      passwordKey: token
    secret:
      create: false
      name: grafana-cloud-credentials
      namespace: monitoring
  - name: grafana-cloud-logs
    type: loki
    url: https://logs-prod-006.grafana.net./loki/api/v1/push
    auth:
      type: basic
      usernameKey: lokiUsername
      passwordKey: token
    secret:
      create: false
      name: grafana-cloud-credentials
      namespace: monitoring
  - name: gc-otlp-endpoint
    type: otlp
    url: https://otlp-gateway-prod-us-east-0.grafana.net./otlp
    protocol: http
    auth:
      type: basic
      usernameKey: grafanaCloudUsername
      passwordKey: token
    secret:
      create: false
      name: grafana-cloud-credentials
      namespace: monitoring
    metrics:
      enabled: true
    logs:
      enabled: true
    traces:
      enabled: true
  - name: grafana-cloud-profiles
    type: pyroscope
    url: https://profiles-prod-001.grafana.net.:443
    auth:
      type: basic
      usernameKey: grafanaCloudUsername
      passwordKey: token
    secret:
      create: false
      name: grafana-cloud-credentials
      namespace: monitoring
clusterMetrics:
  enabled: true
  opencost:
    enabled: true
    metricsSource: grafana-cloud-metrics
    opencost:
      exporter:
        defaultClusterId: ksk-use2-staging-eks
      prometheus:
        existingSecretName: grafana-cloud-credentials
        username_key: prometheusUsername
        password_key: token
        external:
          url: https://prometheus-prod-13-prod-us-east-0.grafana.net./api/prom
  kepler:
    enabled: true
annotationAutodiscovery:
  enabled: true
prometheusOperatorObjects:
  enabled: true
clusterEvents:
  enabled: true
podLogs:
  enabled: true
applicationObservability:
  enabled: true
  receivers:
    otlp:
      grpc:
        enabled: true
        port: 4317
      http:
        enabled: true
        port: 4318
    zipkin:
      enabled: true
      port: 9411
autoInstrumentation:
  enabled: true
profiling:
  enabled: true
alloy-metrics:
  enabled: true
  alloy:
    extraEnv:
      - name: GCLOUD_RW_API_KEY
        valueFrom:
          secretKeyRef:
            name: grafana-cloud-credentials
            key: token
      - name: CLUSTER_NAME
        value: ksk-use2-staging-eks
      - name: NAMESPACE
        valueFrom:
          fieldRef:
            fieldPath: metadata.namespace
      - name: POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name
      - name: GCLOUD_FM_COLLECTOR_ID
        value: grafana-k8s-monitoring-$(CLUSTER_NAME)-$(NAMESPACE)-$(POD_NAME)
  remoteConfig:
    enabled: true
    url: https://fleet-management-prod-008.grafana.net
    auth:
      type: basic
      usernameKey: grafanaCloudUsername
      passwordKey: token
    secret:
      create: false
      name: grafana-cloud-credentials
alloy-singleton:
  enabled: true
  alloy:
    extraEnv:
      - name: GCLOUD_RW_API_KEY
        valueFrom:
          secretKeyRef:
            name: grafana-cloud-credentials
            key: token
      - name: CLUSTER_NAME
        value: ksk-use2-staging-eks
      - name: NAMESPACE
        valueFrom:
          fieldRef:
            fieldPath: metadata.namespace
      - name: POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name
      - name: GCLOUD_FM_COLLECTOR_ID
        value: grafana-k8s-monitoring-$(CLUSTER_NAME)-$(NAMESPACE)-$(POD_NAME)
  remoteConfig:
    enabled: true
    url: https://fleet-management-prod-008.grafana.net
    auth:
      type: basic
      usernameKey: grafanaCloudUsername
      passwordKey: token
    secret:
      create: false
      name: grafana-cloud-credentials
alloy-logs:
  enabled: true
  alloy:
    extraEnv:
      - name: GCLOUD_RW_API_KEY
        valueFrom:
          secretKeyRef:
            name: grafana-cloud-credentials
            key: token
      - name: CLUSTER_NAME
        value: ksk-use2-staging-eks
      - name: NAMESPACE
        valueFrom:
          fieldRef:
            fieldPath: metadata.namespace
      - name: POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name
      - name: NODE_NAME
        valueFrom:
          fieldRef:
            fieldPath: spec.nodeName
      - name: GCLOUD_FM_COLLECTOR_ID
        value: grafana-k8s-monitoring-$(CLUSTER_NAME)-$(NAMESPACE)-alloy-logs-$(NODE_NAME)
  remoteConfig:
    enabled: true
    url: https://fleet-management-prod-008.grafana.net
    auth:
      type: basic
      usernameKey: grafanaCloudUsername
      passwordKey: token
    secret:
      create: false
      name: grafana-cloud-credentials
alloy-receiver:
  enabled: true
  alloy:
    extraPorts:
      - name: otlp-grpc
        port: 4317
        targetPort: 4317
        protocol: TCP
      - name: otlp-http
        port: 4318
        targetPort: 4318
        protocol: TCP
      - name: zipkin
        port: 9411
        targetPort: 9411
        protocol: TCP
    extraEnv:
      - name: GCLOUD_RW_API_KEY
        valueFrom:
          secretKeyRef:
            name: grafana-cloud-credentials
            key: token
      - name: CLUSTER_NAME
        value: ksk-use2-staging-eks
      - name: NAMESPACE
        valueFrom:
          fieldRef:
            fieldPath: metadata.namespace
      - name: POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name
      - name: NODE_NAME
        valueFrom:
          fieldRef:
            fieldPath: spec.nodeName
      - name: GCLOUD_FM_COLLECTOR_ID
        value: grafana-k8s-monitoring-$(CLUSTER_NAME)-$(NAMESPACE)-alloy-receiver-$(NODE_NAME)
  remoteConfig:
    enabled: true
    url: https://fleet-management-prod-008.grafana.net
    auth:
      type: basic
      usernameKey: grafanaCloudUsername
      passwordKey: token
    secret:
      create: false
      name: grafana-cloud-credentials
alloy-profiles:
  enabled: true
  alloy:
    extraEnv:
      - name: GCLOUD_RW_API_KEY
        valueFrom:
          secretKeyRef:
            name: grafana-cloud-credentials
            key: token
      - name: CLUSTER_NAME
        value: ksk-use2-staging-eks
      - name: NAMESPACE
        valueFrom:
          fieldRef:
            fieldPath: metadata.namespace
      - name: POD_NAME
        valueFrom:
          fieldRef:
            fieldPath: metadata.name
      - name: NODE_NAME
        valueFrom:
          fieldRef:
            fieldPath: spec.nodeName
      - name: GCLOUD_FM_COLLECTOR_ID
        value: grafana-k8s-monitoring-$(CLUSTER_NAME)-$(NAMESPACE)-alloy-profiles-$(NODE_NAME)
  remoteConfig:
    enabled: true
    url: https://fleet-management-prod-008.grafana.net
    auth:
      type: basic
      usernameKey: grafanaCloudUsername
      passwordKey: token
    secret:
      create: false
      name: grafana-cloud-credentials
