apiVersion: apps/v1
kind: Deployment
metadata:
  name: go-backend
spec:
  template:
    spec:
      containers:
        - name: go-backend
          image: 857059614049.dkr.ecr.us-east-2.amazonaws.com/services/go-backend:04e0d06-0000-g04e0d06 # staging_services/go-backend
