version: "3"

tasks:
  # TODO: move these to gitops model
  install:
    # NOTE: Pod Identity association created for karpenter service account in kube-system namespace
    cmds:
      - |
        helm upgrade --install karpenter \
          oci://public.ecr.aws/karpenter/karpenter \
          --version 1.7.1 \
          --namespace kube-system \
          --values values.yaml

  apply-resources:
    cmds:
      - kubectl apply -f ./resources
