apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: deploy-key
  namespace: kluctl-gitops
spec:
  refreshInterval: 1h0m0s
  secretStoreRef:
    name: aws-secrets-manager
    kind: ClusterSecretStore
  target:
    name: deploy-key
  dataFrom:
    - extract:
        key: staging-us-east-2-deploy-key
