apiVersion: v2
name: reloader-wrapper
description: Umbrella chart that installs stakater reloader
type: application
version: 0.1.0

dependencies:
  - name: reloader
    repository: "https://stakater.github.io/stakater-charts"
    version: REPLACED_BY_CHARTVERSIONS
