apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: argocd-server-tls
  namespace: argocd
spec:
  dnsNames:
    - {{ .Values.ingress.hostname }}
  issuerRef:
    group: cert-manager.io
    kind: ClusterIssuer
    name: letsencrypt-prod-dns
  secretName: argocd-server-tls
  usages:
    - digital signature
    - key encipherment
