apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: github-webhook
  namespace: argocd
  labels:
    app.kubernetes.io/part-of: argocd
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secrets-manager
    kind: ClusterSecretStore
  target:
    name: argocd-secret
    # Merge with existing argocd-secret instead of replacing it
    creationPolicy: Merge
  data:
    - secretKey: webhook.github.secret
      remoteRef:
        key: ksk-use2-staging-eks-argocd-github-webhook
        property: webhookSecret
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
