deployments:
  - include: karpenter
  # Install karpenter first to ensure any necessary compute
  # capacity can be provisioned for all workloads
  # after initial install, the barrier can be removed to enable parallel applies
  # - barrier: true
  - include: cert-manager
  - include: envoy-gateway
    when: args.install_envoy_gateway
  - include: external-dns
  - include: external-secrets-operator
  - include: istio
    when: args.install_istio
  - path: ebs-csi-driver
  # ingress-nginx is configured to use cert-manager to manage certificates (less brittle than helm hooks)
  # after initial instal, the barrier can be removed to enable parallel applies
  - barrier: true
  - path: ingress-nginx
    when: args.install_ingress_nginx
