deployments:
  - include: karpenter
    when: args.install_karpenter
  # Install karpenter first to ensure any necessary compute
  # capacity can be provisioned for all workloads
  # after initial install, the barrier can be removed to enable parallel applies
  # - barrier: true
  - include: cert-manager
    tags:
      - kind
      - cert-manager
  - include: cloudnative-pg
    tags:
      - kind
      - cloudnative-pg
  - include: envoy-gateway
    when: args.install_envoy_gateway
  - path: ebs-csi-driver
    when: args.install_ebs_csi_driver
  - include: external-dns
    when: args.install_external_dns
  # Number of metrics series exploded...
  # - path: grafana
  - path: groundcover
    when: args.install_groundcover
  - include: istio
    when: args.install_istio
  - path: reloader
  # ingress-nginx is configured to use cert-manager to manage certificates (less brittle than helm hooks)
  # after initial install, the barrier can be removed to enable parallel applies
  - barrier: true
  - include: external-secrets-operator
    when: args.install_external_secrets_operator
  - path: ingress-nginx
    when: args.install_ingress_nginx
    tags:
      - kind
  - include: argo-rollouts
    when: args.install_argo_rollouts
  - include: kargo
    when: args.install_kargo
