deployments:
  - include: karpenter
  # Install karpenter first to ensure any necessary compute
  # capacity can be provisioned for all workloads
  # after initial install, the barrier can be removed to enable parallel applies
  # - barrier: true
  - include: cert-manager
  - include: cloudnative-pg
  - include: envoy-gateway
    when: args.install_envoy_gateway
  - path: ebs-csi-driver
  - include: external-dns
  # Number of metrics series exploded...
  # - path: grafana
  - path: groundcover
  - include: istio
    when: args.install_istio
  - path: reloader
  # ingress-nginx is configured to use cert-manager to manage certificates (less brittle than helm hooks)
  # after initial install, the barrier can be removed to enable parallel applies
  # - barrier: true
  - include: external-secrets-operator
  - path: ingress-nginx
    when: args.install_ingress_nginx
  - include: argo-rollouts
  - include: kargo
