deployments:
  - include: karpenter
  # Install karpenter first to ensure any necessary compute
  # capacity can be provisioned for all workloads
  - barrier: true
  - include: external-secrets-operator
  - include: istio
  - path: ebs-csi-driver
