provider:
  name: aws
env:
  - name: AWS_DEFAULT_REGION
    value: us-east-2
sources:
  - service
  - ingress
  - gateway-httproute
  - gateway-tcproute

# Set policy to sync if you want to clean up records when they are removed (keeps things tidy, but potentially destructive if something goes awry)
# policy: sync

domainFilters:
  - staging.kubestarterkit.com

logLevel: debug

txtOwnerId: staging-us-east-2
txtPrefix: _extdns.

managedRecordTypes:
  - A
  # - AAAA # Ownership gets wonky when ipv6 is enabled...
  - CNAME

extraArgs:
  - --aws-zone-type=public
