apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: deploy-key
  namespace: default
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secrets-manager
    kind: ClusterSecretStore
  target:
    name: deploy-key
    creationPolicy: Owner
  dataFrom:
  data:
    - secretKey: ssh-privatekey
      remoteRef:
        key: deploy-key20251005134232299700000001 # TODO: update TF to avoid randomly generated postfix
