apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: deploy-key-external
  namespace: kluctl-gitops
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secrets-manager
    kind: ClusterSecretStore
  target:
    name: deploy-key
    creationPolicy: Owner
  data:
    - secretKey: identity
      remoteRef:
        key: deploy-key20251005134232299700000001 # TODO: update TF to avoid randomly generated postfix

