apiVersion: v2
name: cloudnative-pg-wrapper
description: Umbrella chart that installs Cloud Native PG plus extra resources
type: application
version: 0.1.0

dependencies:
  - name: cloudnative-pg
    repository: "https://cloudnative-pg.github.io/charts"
    version: REPLACED_BY_CHARTVERSIONS
