[tasks.render-all]
description = "Render all infrastructure manifests for specified cluster"
usage = '''
arg "<cluster>" help="Target cluster" {
  choices "staging" "production"
}
'''
run = """
#!/usr/bin/env bash
set -euo pipefail

for dir in ./*/     # list directories in the form "/tmp/dirname/"
do
    dir=${dir%*/}      # remove the trailing "/"
    dir="${dir##*/}"  # print everything after the final "/"
    mise run //kubernetes/src/services/${dir}:render-cluster ${usage_cluster}
done
"""
