# Chart dependency versions (default, can be overridden per environment)
chartVersions:
  ingress-nginx: "4.13.3"

ingress-nginx:
  controller:
    admissionWebhooks:
      enabled: true
      certManager:
        enabled: true
      patch:
        enabled: true
