apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: default
  annotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true
spec:
  role: "ksk-use2-staging-eks-KarpenterNodeRole"
  amiSelectorTerms:
    # https://karpenter.sh/docs/getting-started/getting-started-with-karpenter/#2-set-environment-variables
    # aws ssm get-parameter --name "/aws/service/eks/optimized-ami/1.33/amazon-linux-2023/x86_64/standard/recommended/image_id" --query Parameter.Value | xargs aws ec2 describe-images --query 'Images[0].Name' --image-ids | sed -r 's/^.*(v[[:digit:]]+).*$/\1/'
    - alias: "al2023@v20250920"
    #aws ssm get-parameter --name "/aws/service/bottlerocket/aws-k8s-1.33/x86_64/latest/image_id" --region us-east-2 --query "Parameter.Value" --output text
    # - id: "ami-0d49083587535212b" # Could use bottle rocket ami here instead
  subnetSelectorTerms:
    - tags:
        # Created by VPC TF module
        karpenter.sh/discovery: "ksk-use2-staging-network" # TODO: make this dynamic
  securityGroupSelectorTerms:
    - tags:
        # Created by EKS TF module
        karpenter.sh/discovery: "ksk-use2-staging-eks" # TODO: make this dynamic
