[tasks]

deploy-staging-auto-approve = "kluctl deploy -t staging -y --prune"
helm-pull = "kluctl helm-pull"

[tasks.deploy-staging]
run = '''
echo "⚠️ DON'T FORGET TO ADD THE DEPLOY KEY TO THE REPO!!! ⚠️"
echo "⚠️ MANUALLY APPLY INFRASTRUCTURE PROJECT TO ENSURE EXTERNAL SECRETS OPERATOR IS AVAILALBE!!! ⚠️"
kluctl deploy -t staging --prune
'''

[tasks.get-webui-password]
description = "Get password for kluctl web ui admin user"
run = "kubectl -n kluctl-system get secret webui-secret -o jsonpath='{.data.admin-password}' | base64 -d"


[tasks.port-forward-webui]
description = "Port forward web UI to localhost"
run = "kubectl -n kluctl-system port-forward svc/kluctl-webui 8080"
