version: "3"

tasks:
  deploy-staging-cluster:
    desc: "Deploy kluctl gitops staging target"
    cmds:
      - echo "⚠️ DON'T FORGET TO ADD THE DEPLOY KEY TO THE REPO!!! ⚠️"
      - echo "⚠️ MANUALLY APPLY INFRASTRUCTURE PROJECT TO ENSURE EXTERNAL SECRETS OPERATOR IS AVAILALBE!!! ⚠️"
      - kluctl deploy -t staging-us-east-2 --prune

  deploy-production-cluster:
    desc: "Deploy kluctl gitops production target"
    cmds:
      - kluctl deploy -t production --prune

  get-webui-password:
    desc: "Get password for kluctl web ui admin user"
    cmds:
      - kubectl -n kluctl-system get secret webui-secret -o jsonpath='{.data.admin-password}' | base64 -d

  port-forward-webui:
    desc: "Port forward web UI to localhost"
    cmds:
      - kubectl -n kluctl-system port-forward svc/kluctl-webui 8080
