apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: default
spec:
  role: "KarpenterNodeRole-staging-us-east-2"
  amiSelectorTerms:
    # https://karpenter.sh/docs/getting-started/getting-started-with-karpenter/#2-set-environment-variables
    # aws ssm get-parameter --name "/aws/service/eks/optimized-ami/1.33/amazon-linux-2023/x86_64/standard/recommended/image_id" --query Parameter.Value | xargs aws ec2 describe-images --query 'Images[0].Name' --image-ids | sed -r 's/^.*(v[[:digit:]]+).*$/\1/'
    - alias: "al2023@v20250920"
  subnetSelectorTerms:
    - tags:
        # Created by VPC TF module
        karpenter.sh/discovery: "staging-us-east-2"
  securityGroupSelectorTerms:
    - tags:
        # Created by EKS TF module
        karpenter.sh/discovery: "staging-us-east-2"
