# .kluctl.yaml
targets:
  - name: kind
    args:
      cluster_name: kind
    context: kind-kind

  - name: staging
    args:
      cluster_name: staging
    context: staging

  # - name: production
  #   args:
  #     cluster_name: production
  #   context: gke_kubernetes-course-424917_us-central1-a_devops-directive-kubernetes-course-2

args:
  # This allows us to deploy the GitOps deployment to different clusters. It is used to include dedicated deployment
  # items for the selected cluster.
  - name: cluster_name

# Without a discriminator, pruning won't work. Make sure the rendered result is unique on the target cluster
discriminator: apps-{{ args.cluster_name | slugify }}
